.menu__overlays {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}

.menu__overlay-1 {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}

.menu__overlay-2 {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}